.alimentacion {
  width: 34px;
  height: 35px;
  background-position: -3px -36px;
}
.comercio {
	background-position: -40px -36px;
	width: 33px;
	height: 40px;
}
.educacion {
	background-position: -75px -38px;
	width: 52px;
	height: 28px;
}
.turismo {
	background-position: 0 -77px;
	width: 40px;
	height: 41px;
}
.construccion {
	background-position: -41px -77px;
	width: 39px;
	height: 39px;
}
.electrica {
	background-position: -85px -76px;
	width: 25px;
	height: 45px;
}
.comunicacion {
	background-position: 0 -122px;
	width: 41px;
	height: 31px;
}
.telecomunicaciones {
	background-position: -43px -122px;
	width: 42px;
	height: 36px;
}
.financieros {
	background-position: -86px -122px;
	width: 38px;
	height: 45px;
}
.software {
	background-position: -130px -83px;
	width: 24px;
	height: 45px;
}
.quienes {
	background-position: 0 -167px;
	width: 39px;
	height: 46px;
}
.trabajo {
	background-position: -51px -175px;
	width: 79px;
	height: 76px;
	margin: 17px auto;
}
.homeoffice {
	background-position: -138px -172px;
	width: 86px;
	height: 80px;
	margin: 17px auto;	
}
.emprendimiento {
	background-position: -228px -169px;
	width: 96px;
	height: 87px;
	margin: 17px auto;	
}
.porque-icon {
	width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}
.facebook {
	background-position: 0 -256px;
	width: 15px;
	height: 27px;
}
.twitter {
	background-position: -19px -259px;
	width: 25px;
	height: 21px;
	margin: 3px 30px;
}
.icon-search {
	background-position: -251px 10px;
	
}